

.navDiv {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.linkDiv {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}

.btn_div {
  display: flex;
  align-items: center;
}

.menuIcon {
  display: none;
  margin-right: 2rem;
}

.mobileLinkDiv {
  display: none;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
  margin-top: 12vh;
  position: fixed;
  right: 0;
  z-index: 999;
}

.mobileLink {
  display: none;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  gap: 0.5em;
  margin-right: 1rem;
  margin-top: 2rem;
}

.logo {
  visibility: visible;
}

@media screen and (max-width: 1024px) {
  .navDiv {
    justify-content: space-between;
    width: 100%;
  }

  .linkDiv {
    display: none;
  }

  .btn_div {
    display: none;
  }

  .menuIcon {
    display: flex;
  }

  .mobileLinkDiv {
    display: flex;
  }

  .mobileLink {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .mobileLinkDiv {
    padding: 1rem;
    margin-top: 10vh;
  }

  .mobileLink {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .navDiv {
    height: 8vh;
  }

  .mobileLinkDiv {
    padding: 1rem;
    margin-top: 8vh;
  }

  .mobileLink {
    font-size: 1rem;
  }

  .logo {
    font-size: 1rem;
  }
}
