*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('https://wallpaper.dog/large/20502651.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }
  
  .header {
    margin-bottom: 32px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 60vh; */
    /* width: 30vw; */
    padding: 3rem;
    border-radius: 8px;
    background-color:rgba(240, 240, 240, 0.8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .error{
    font-size: 1.3rem;
    font-weight: 400;
    color: red;
    display: flex;
    margin-top: 0;
    margin-left: auto;
    margin-right: 0.3rem;
  }
  .login p{
    font-size: 1.3rem;
    margin-top: 2rem;
    text-decoration: none;
  }
  @media only screen and (max-width: 280px) {
    
    .form {
      height: 80vh;
      width: 85vw;
    }
    .login p{
        font-size: 1.2rem;
    }
  }
  /* @media only screen and (max-width: 350px) {
    
    .form {
      height: 75vh;
      width: 85vw;
    }
} */
    /* @media only screen and (max-width: 500px) {
    
        .form {
          height: 80vh;
          width: 85vw;
        }
    } */
    @media only screen and (max-width: 786px) {
    html{
      font-size: 20px;
    }
        /* .form {
          height: 60vh;
          width: 85vw;
        } */
    }
    @media only screen and (max-width: 1024px) {
      html{
        font-size: 20px;
      }
    
        /* .form {
          height: 80vh;
          width: 85vw;
        } */
    }
 