.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 98vh;
    position: relative;
  }

  .p {
    position: absolute;
    bottom: 38%;
    margin-left: 19rem;
    /* width: 15rem; */
    height: 6rem;
    color: black;
    font-size: 2.8rem;
    transform: translateX(-50%);
    
  }


  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2px;
    color: red;
    font-size: 3rem;
  }

  @media screen and (max-width: 768px) {
    .text {
      font-size: 2rem;
    }
  }
  