


.aboutus {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 7rem 3rem 3rem 3rem;
}

h1 {
  font-size: 4rem;
}

.p {
  padding-top: 3vh;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  color: black;
}

.left {
  padding-left: 3rem;
}

.right {
  padding-left: 3rem;
}

.btn {
  background-color: #da0909;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 9rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .aboutus {
    flex-direction: column;
    margin: 5rem 3rem 3rem 3rem;
  }

  .left,
  .right {
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  .p {
    font-size: 1.2rem;
  }

  .btn {
    width: 7rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .aboutus {
    margin: 3rem 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .p {
    font-size: 1rem;
  }

  .btn {
    width: 6rem;
    font-size: 1rem;
  }
}
